.App {
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

video {
  max-width: 100%;
}

.inputs-container > div {
  width: 200px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 20px;
  box-sizing: border-box;
}

.inputs-container h3 {
  word-break: break-all;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
